:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --footer-hero: rgba(47, 48, 58, 1);
  --primary-background-color: rgba(255, 255, 255, 1);
  --secondary-background-color: rgba(245, 244, 250, 1);
  --black: rgba(0, 0, 0, 1);
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --gray: rgba(238, 238, 238, 1);
  --icons-color: rgba(175, 177, 184, 1);
  --background-footer-icons: rgba(255, 255, 255, 0, 1);
  --background-overflow: rgba(47, 48, 58, 0.8);
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.animation {
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-timing-function);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.list {
  margin: 0px;
  list-style: none;
}

.page-header__logo, .logo-footer, .logo-first-part {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  color: var(--black);
}

@media screen and (max-width: 767px) {
  .page-header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo-footer {
  display: inline-block;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.logo-first-part {
  color: var(--accent-color);
}

.header__container, .contacts-nav__link {
  display: flex;
  align-items: center;
}

.site-nav__link, .contacts-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 767px) {
  .page-header__nav {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__link {
  color: var(--black);
}

.site-nav__link.current {
  position: relative;
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-open {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open:hover, .menu-open:focus {
  color: var(--accent-color);
}

.menu-icon {
  fill: currentColor;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    flex-direction: column;
    padding: 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__link {
    padding: 0 0;
  }
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.site-nav .current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 99%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--accent-color);
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}

.button {
  padding: 10px 32px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: inherit;
  border-radius: 4px;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  text-align: center;
  background: var(--footer-hero);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .hero-section {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-min.jpg);
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk-2x-min.jpg);
  }
}

.hero__title {
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.615;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.title-none {
  display: none;
}

.features-list {
  margin-top: 0px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features-list__icon {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-list__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.section-none {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-none {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
  z-index: 1;
  margin-right: 30px;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  background-color: var(--background-overflow);
  padding: 27px;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.section-color {
  background-color: var(--secondary-background-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

.team-list {
  text-align: center;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__photo {
  display: block;
  height: auto;
  width: 100%;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-description {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
}

.team-description__member {
  padding: 30px 9px 0;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team-description__position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding: 0 20px;
  margin-top: 10px;
}

.contacts-list__street, .contacts-list__contact {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.icons-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0 32px 30px;
}

.icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.icons-list__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-list__link:hover, .icons-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

.icons-list__link:hover .icons-list__icon, .icons-list__link:focus .icons-list__icon {
  fill: var(--primary-background-color);
}

.icons-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list__link {
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border-radius: 3px;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: currentColor;
}

.hide {
  display: none;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-list__button {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-list__button:hover, .filter-list__button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.portfolio-container {
  padding-top: 60px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-container {
    padding-top: 60px;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .portfolio-container {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.portfolio-list {
  padding-bottom: 94px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 360px) and (max-width: 1199px) {
  .portfolio-list {
    padding-bottom: 60px;
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
  }
}

.portfolio-overlay__project {
  display: block;
  width: 100%;
  height: auto;
}

.text-holder {
  border: 1px solid var(--gray);
  background-color: var(--primary-background-color);
  flex-grow: 1;
}

.text-holder__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2.111;
  letter-spacing: 0.06em;
  padding: 20px 24px 0;
  margin-bottom: 4px;
}

.text-holder__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding: 0 24px 20px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  display: block;
  border-radius: 0px 0px 4px 4px;
  transition: opacity 250ms var(--animation-timing-function);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--animation-timing-function);
  background-color: rgba(33, 150, 243, 0.9);
}

.thumb__text {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: white;
  margin: 63px 24px;
}

.portfolio-list__link:hover .thumb, .portfolio-list__link:focus .thumb {
  transform: translateY(0);
}

.portfolio-list__item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.contacts-list__street, .contacts-list__contact {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-adress {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-adress {
    margin-bottom: 0;
  }
}

.contacts-list__street {
  margin-bottom: 9px;
  color: var(--primary-background-color);
}

.contacts-list__contact:not(:last-child) {
  display: inline-block;
  margin-bottom: 9px;
}

.contacts-list__contact {
  color: var(--footer-contact-color);
}

.footer-icons {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-icons {
    margin-bottom: 0;
  }
}

.footer-icons__title {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .footer-icons__title {
    text-align: left;
  }
}

.footer-icons__list {
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
}

.footer-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-icons__link:hover, .footer-icons__link:focus {
  background: var(--accent-color);
}

.footer-icons__icon {
  fill: var(--primary-background-color);
}

.footer-form {
  margin-top: 60px;
  margin-left: auto;
}

.subscribe-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: left;
  }
}

.footer-subscribe__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-subscribe__input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus,
.footer-subscribe__button:active {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

.footer-subscribe__svg {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--animation-timing-function);
  overflow-y: scroll;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .backdrop {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
  }
}

@media screen and (max-width: 479px) {
  .backdrop {
    display: flex;
    justify-content: center;
    padding: 20px 15px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-timing-function);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 90vw;
    max-height: 609px;
    height: 90vh;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(90deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
  color: black;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-form {
  width: 100%;
  margin-left: auto;
}

.modal-form__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (max-width: 479px) {
  .modal-form__title {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.15;
  }
}

.modal-form__lable {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .modal-form__lable {
    max-width: 370px;
  }
}

.modal-form__lable ::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__data {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  margin-bottom: 10px;
  font: inherit;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 44%;
  display: block;
}

.modal-form__lable:focus-within .modal-form__input {
  outline-color: var(--accent-color);
}

.modal-form__lable:focus-within .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--animation-timing-function);
}

.modal-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .modal-form__comment {
    height: 100px;
  }
}

.modal-form__comment:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--animation-timing-function);
}

.modal-form__comment:focus-within {
  outline-color: var(--accent-color);
}

.policy-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  display: inline-block;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .policy-form {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .policy-form {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-form__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-form__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.policy-form__input:checked + .policy-form__checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/svg/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy-form__link {
  color: var(--accent-color);
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .policy-form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-form__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 55px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.policy-form__button:hover, .policy-form__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mobile-menu-backdrop__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-backdrop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    opacity: 1;
    z-index: 2;
    overflow-y: scroll;
  }
}

.mob-menu__close {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--title-text-color);
}

.mob-menu__close:hover, .mob-menu__close:focus {
  color: var(--accent-color);
}

.mobile-menu {
  margin-bottom: 32px;
}

@media screen and (max-width: 479px) {
  .mobile-menu {
    margin-bottom: -22px;
  }
}

.mobile-menu__item {
  margin-bottom: 32px;
}

@media screen and (max-width: 479px) {
  .mobile-menu__item {
    margin-bottom: 22px;
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__link {
    font-size: 30px;
  }
}

.mobile-menu__link.current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

@media screen and (max-width: 479px) {
  .mobile-contacts {
    margin-bottom: 34px;
  }
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (max-width: 479px) {
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 22px;
  }
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-contacts__link {
    font-size: 18px;
  }
}

.mobile-socials {
  display: flex;
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-socials__link {
    font-size: 12px;
  }
}

.mobile-socials__item:not(:last-child)::after {
  content: '';
  width: 22px;
  height: 0px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 479px) {
  .mobile-socials__item:not(:last-child) {
    margin-right: 7px;
  }
}

@media screen and (max-width: 479px) {
  .mobile-socials__item:not(:last-child)::after {
    width: 19px;
    margin-left: 7px;
  }
}
/*# sourceMappingURL=main.css.map */