@mixin font($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

.hide {
  display: none;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-list__button {
  color: var(--title-text-color);
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border: 0;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  padding: 6px 22px;

  &:hover,
  &:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
  }
}
