%font {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    text-align: left;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 768px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 480px;
  }
}

.footer-wrap {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-adress {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  // width: 231px;
  // margin-right: 70px;
}

.contacts-list__street {
  margin-bottom: 9px;
  color: var(--primary-background-color);
  @extend %font;
}

.contacts-list__contact:not(:last-child) {
  display: inline-block;
  margin-bottom: 9px;
}

.contacts-list__contact {
  color: var(--footer-contact-color);
  @extend %font;
}
