%flex {
  display: flex;
  align-items: center;
}

%link-style {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__nav {
    @extend %flex;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;

  &__link {
    position: relative;
    display: block;

    @extend %link-style;

    color: var(--black);
  }
}

.site-nav__link {
  .current {
    color: var(--accent-color);
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav {
  display: flex;
  margin-left: auto;

  &__link {
    @extend %link-style;
    @extend %flex;
  }
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  .current::after {
    content: '';
    position: absolute;
    bottom: 0;

    display: block;
    width: 99%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
  }
}

.site-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
