%flex {
  display: flex;
  align-items: center;
}

%link-style {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header__container {
  @extend %flex;
}

.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.page-header__nav {
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  display: flex;

  &__link {
    @extend %link-style;

    color: var(--black);
  }
  &__link.current {
    position: relative;
  }
}

.site-nav__link {
  &.current {
    color: var(--accent-color);
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-open {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-icon {
  fill: currentColor;
}

.contacts-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    padding: 0 0;
  }

  display: flex;
  margin-left: auto;

  &__link {
    @extend %link-style;
    @extend %flex;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0 0;
    }
  }
}
.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.site-nav {
  .current::after {
    content: '';
    position: absolute;
    bottom: 0;

    display: block;
    width: 99%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 1;
  }
}

.site-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__container {
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}
