.clients-list {
  display: flex;
  padding-bottom: 94px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 3px;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients-list__icon {
  margin: 16px 32px;
  fill: currentColor;
}

.clients-list__link {
  &:hover,
  &:focus {
    .clients-list__icon {
      fill: currentColor;
    }
  }
}
