.section-color {
  background-color: var(--secondary-background-color);
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  @include font(28px, 1.166, 0.03em);

  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.team-list {
  text-align: center;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  &__photo {
    display: block;
    height: auto;
    width: 100%;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }
  }
}

.team-description {
  background-color: var(--primary-background-color);
  // width: 270px;
  border-radius: 0px 0px 4px 4px;

  &__member {
    padding: 30px 9px 0;
    color: var(--title-text-color);
    @include font(16px, 1.187, 0.03em);
  }

  &__position {
    @include font(16px, 1.187, 0.03em);
    padding: 0 20px;
    margin-top: 10px;
  }
}

%font {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

@mixin font($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
