.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms var(--animation-timing-function);
  overflow-y: scroll;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
  }

  @media screen and (max-width: 479px) {
    display: flex;
    justify-content: center;
    padding: 20px 15px;
  }
}
