.footer-icons {
  margin-right: 93px;
  &__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-background-color);
  }
}

.footer-icons__list {
  display: flex;
  margin-top: 20px;
  width: 206px;
}

.footer-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}

.footer-icons__icon {
  fill: var(--primary-background-color);
}
