@mixin font($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

.footer-form {
  margin-top: 60px;
  margin-left: auto;
}

.subscribe-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  @include font(14px, 1.14, 0.03em);

  text-transform: uppercase;
  color: var(--primary-background-color);
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-subscribe__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-subscribe__input::placeholder {
  font-family: Roboto;

  @include font(16px, 1.25, 0.03em);

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-background-color);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-weight: bold;
  @include font(16px, 1.87, 0.06em);

  border-radius: 4px;

  border: none;
  cursor: pointer;
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus,
.footer-subscribe__button:active {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
.footer-subscribe__svg {
  margin-left: 10px;
}
